@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --foreground-rgb: 40, 40, 40; /* Cinza escuro para texto */
  --background-start-rgb: 240, 240, 240; /* Cinza muito claro para fundo */
  --background-end-rgb: 255, 255, 255; /* Branco */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Branco para texto em modo escuro */
    --background-start-rgb: 30, 30, 30; /* Preto suave */
    --background-end-rgb: 50, 50, 50; /* Cinza escuro */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

a {
  color: rgb(var(--foreground-rgb));
  transition: color 0.3s; /* Transição suave de cor */
}

a:hover {
  color: rgb(0, 0, 255); /* Cor para links ao passar o mouse */
}

/* Estilos de entrada e textarea */
input, textarea {
  color: rgb(0, 0, 0); /* Texto na cor preta para fundo claro */
  background-color: rgb(217, 217, 217); /* Fundo branco para campos de entrada */
  border: 1px solid rgb(200, 200, 200); /* Cinza claro para bordas */
  padding: 0.5rem; 
  border-radius: 0.375rem; 
}

input:focus, textarea:focus {
  outline: 2px solid #6c6c6c; /* Escurecer a borda ao focar */
  background-color: rgb(249, 249, 249); /* Cinza claro ao focar */
}

/* Estilo para texto em fundo escuro */
@media (prefers-color-scheme: dark) {
  input, textarea {
    color: rgb(var(--foreground-rgb)); /* Texto na cor definida para modo escuro */
  }
}

label {
  color: rgb(var(--foreground-rgb)); 
}

li {
  @apply hover:underline underline-offset-4;
}

/* Estilo para as avaliações */
.review-card {
  background-color: rgb(245, 245, 245); /* Fundo claro para as avaliações */
  border: 1px solid rgb(200, 200, 200); /* Bordas claras */
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar as avaliações */
}

.review-card .name {
  color: rgb(60, 60, 60); /* Cinza escuro para os nomes */
  font-weight: bold; /* Negrito para destacar os nomes */
}

.review-card .comment {
  color: rgb(40, 40, 40); /* Mantém o cinza escuro para os comentários */
}

/* Estilo adicional para cabeçalhos e outros elementos */
h1, h2, h3, h4, h5, h6 {
  color: rgb(var(--foreground-rgb));
}

h1.dark, h2.dark, h3.dark, h4.dark, h5.dark, h6.dark {
  color: rgb(255, 255, 255);
}
