@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Adicione regras específicas para inputs e textareas */
input, textarea {
  color: rgb(var(--foreground-rgb)); /* Garante que o texto seja visível */
  background-color: rgb(var(--background-start-rgb)); /* Define o fundo dos campos de entrada */
  border: 1px solid rgb(var(--foreground-rgb)); /* Adiciona uma borda visível */
  padding: 0.5rem; /* Adiciona algum padding */
  border-radius: 0.375rem; /* Adiciona bordas arredondadas */
}

input:focus, textarea:focus {
  outline: 2px solid #3b82f6; /* Adiciona uma borda azul clara quando em foco */
  background-color: rgb(var(--background-start-rgb)); /* Garante que o fundo não mude ao focar */
}

label {
  color: rgb(var(--foreground-rgb)); /* Garante que o texto do label seja visível */
}
